@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&family=Vazirmatn:wght@200;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  font-family: "Prompt", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #6b4e71;
  width: 100vw;
  padding: 1rem 2rem;
}

.menu {
  display: none;
}

.title h1 {
  color: white;
  font-size: 2rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar a {
  text-decoration: none;
}

.navbar li {
  color: white;
}

nav.navbar li:hover {
  color: #000;
  transition: 0.4s;
}

/* myname container*/

.myname-container {
  display: flex;
  flex-direction: column;
  background-color: #c2b2b4;
  width: 100%;
  padding: 3rem;
}

.myname-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil-image img {
  width: 7rem;
}

.myname-content h2 {
  color: #fff;
}

.line-image img {
  width: 18rem;
  height: 1.5rem;
  filter: invert(100%);
}

.myname-content p {
  color: #fff;
}

/* Portfolio */

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.portfolio-title {
  padding: 2rem;
}

.portfolio-title h3 {
  font-weight: 700;
}

.portfolio-title img {
  width: 15rem;
  height: 1.2rem;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.projects1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
}

.projects2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.projects-container h4 {
  text-align: center;
  font-weight: 700;
}

.pie {
  max-width: 100px;
  min-height: 5px;
}

.batman {
  max-width: 100px;
  min-height: 5px;
}

.splat {
  max-width: 120px;
  min-height: 5px;
}

.petshop {
  max-width: 100px;
  min-height: 5px;
}

.pizza {
  max-width: 80px;
  min-height: 5px;
}

.gameshop {
  max-width: 100px;
  min-height: 5px;
}

/* Modal style*/

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content p {
  font-size: 0.8rem;
  color: #000;
}

.close span {
  padding-left: 28.5rem;
}

#TituloModalCentralizado {
  color: #000;
  text-align: center;
  font-weight: 700;
}

.line-modal {
  width: 50%;
}

.modal-footer1 button,
.modal-footer2 button,
.modal-footer3 button,
.modal-footer4 button,
.modal-footer5 button,
.modal-footer6 button {
  background-color: #c2b2b4;
  padding: 0.5rem;
  transition: 0.3s ease;
  border: none;
  margin-bottom: 1rem;
}

.modal-footer1 button:hover {
  background-color: #fbcf3b;
}

.modal-footer2 button:hover {
  background-color: #04304e;
}

.modal-footer3 button:hover {
  background-color: #ef2729;
}

.modal-footer4 button:hover {
  background-color: #cfa776;
}

.modal-footer5 button:hover {
  background-color: #f8bd49;
}

.modal-footer6 button:hover {
  background-color: #2a2f33;
}

/* Sobre mim container */

.about-container {
  display: flex;
  justify-content: center;
  background-color: #c2b2b4;
  width: 100%;
  padding: 3rem;
  margin-top: 1rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content h3 {
  color: #fff;
  margin: 0;
  font-weight: 700;
}

.about-content p {
  text-align: center;
  color: #fff;
}

.button-cv button:hover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.208), #c2b2b4);
  transition: 0.1s;
  font-weight: 700;
}

/* Contato */

.contact-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3rem 0rem 0rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content h3 {
  font-weight: 700;
  margin: 0;
}

.contact-content img {
  filter: invert(0%);
}

/* Form style */

.login-box {
  background: transparent;
  width: 100%;
  padding: 5rem;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #000000;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 150px;
  font-size: 16px;
  color: #090909;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #0e0e0e;
  pointer-events: none;
  transition: 0.5s;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #000000;
  color: #fff;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #000000);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #010101);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #000000);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #000000);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* Footer style*/

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  width: 100vw;
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 5rem;
  padding: 2rem;
}

.footer-content img {
  width: 30%;
  padding: 0.2rem;
  filter: invert();
}

.footer-content h5 {
  font-weight: 700;
}

.footer-container h5,
p {
  color: #fff;
  font-size: 1.2rem;
}

.socialmedia,
.address,
.aboutme {
  max-width: 130px;
}

/* By: me */

.copyright-footer a {
  text-decoration: none;
  color: inherit;
}

.copyright-footer a:hover {
  color: #ffffff;
  background-size: contain;
  transition: 0.5s;
  transform: scale(1.1);
}

.copyright-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6b4e71;
  color: #fff;
  width: 100vw;
  height: 6vh;
  padding: 0.6rem;
  text-align: center;
}

.copyright-footer h6 {
  border: #fff 1px solid;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 0.7rem;
  margin-right: 0.2rem;
}

/* Responsividade */

/* @media 550 */

@media (max-width: 550px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu {
    display: block;
  }

  .menu img {
    display: flex;
    width: 3rem;
    padding: 0.4rem 0rem 0rem 0rem;
    filter: invert();
  }

  .myname-container {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .portfolio-container {
    display: flex;
    flex-direction: column;
  }

  .projects-container {
    gap: 0rem;
  }

  .projects1 {
    display: block;
  }

  .projects2 {
    display: block;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer-content p {
    margin: 0;
  }

  .footer-content img {
    max-width: 120px;
  }

  .socialmedia,
  .address,
  .aboutme {
    max-width: 120px;
  }
}

@media (min-width: 550px) {
  .navbar {
    display: block !important;
  }
}
